.lead,#content{
    /* height:50vh; */
    /* border:1px solid; */
    padding: 50px;
}

.curtain{
    background-color: #000;
}

.rotate{
    /* border:1px solid; */
    rotate: 270deg;
    /* width:40vw; */
    /* height:50%; */
    padding:10px;
    position: absolute;
    top: 135%;
    /* text-align: center; */
}


.wrap{
    width:80vw;
    padding: 20px;
    /* border:1px solid; */
}











