.lead,#content{
    /* height:50vh; */
    /* border:1px solid; */
    padding: 50px;
}

.curtain{
    background-color: #000;
}

.bdo{
    rotate: 270deg;
    width:50%;
    width:50%;
}














